html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

html.lt-ie9, html.lt-ie9 body {
    width: auto;
    height: 100px;
}

.unsupported-browser {
    height: 30px;
    line-height: 30px;
    padding: 5px 0 5px 45px;
    margin: 8px 8px 8px 100px;
    background: url(ie-notice.png) no-repeat center left;
    display: none;
}
html.lt-ie9 .unsupported-browser {
    display: block;
}

.nav-button {
    position: absolute;
    top: 8px;
    left: 8px;
}

#docs-list {
    margin: 50px 8px 8px 8px;
}

#docs-list .docs {
    border-bottom: 1px solid #ccc;
    margin: 12px 0;
}

html.lt-ie9 #graph-container {
    display: none;
}

#split-container {
    height: 100%;
    width: 100%;
}

#graph-container {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    visibility: hidden;
}

#docs-container {
    width: 100%;
    height: 300px;
    position: relative;
    border-top: 3px solid #ccc;
    display: none;
    overflow-y: scroll;
}
/* #docs-close {
    display: block;
    position: fixed;
    font-size: 1.4em;
    width: 24px;
    height: 24px;
    line-height: 24px;
    right: 8px;
    background: white;
    color: #333;
    text-align: center;
    text-decoration: none;
} */
#docs-close:hover {
    background: #ccc;
}
#docs-scroll {
    overflow-y: scroll;
}
#docs {
    padding: 8px;
}

.docs h2 {
    font-size: 24px; /* h3 */
    margin-top: 0;
}
.docs h3 {
    font-size: 18px; /* h4 */
}
.docs h2 em, .docs h3 em {
    font-size: 14px;
    color: #999;
    padding-left: 4px;
    font-style: normal;
}
.docs pre {
    margin: 8px;
    padding: 4px;
}
.docs .select-object.missing {
    color: #c7254e;
}

a.select-object{
	cursor: pointer;
}

' SVG CSS
.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
    opacity: .7;
    marker-end: url(#end);
    
    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
}

marker#end {
    fill: #666;
    stroke: #666;
    stroke-width: 1.5px;
}

.node rect {
    stroke-width: 1.5px;
    
    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
}

.node text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

.node.selected rect,
.node.selected image,
.node.selected circle {
    filter: url(#blue-glow);
}

.link.inactive,
.node.inactive rect,
.node.inactive text,
.node.inactive image,
.node.inactive circle  {
    opacity: .2;
}

.node.inactive.selected rect,
.node.inactive.selected text,
.node.inactive.selected image,
.node.inactive.selected circle {
    opacity: .6;
}

.legend {
    position: fixed;
}

.legend .category rect {
    stroke-width: 1px;
}

.legend .category text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

.carousel-control {
	width: 5%;
	color:#101010;
} 

.docTools {
	z-index: 100;
  	position: absolute;
 	right: 10px;
	top: 10px;
	padding: 10px;
	cursor: pointer;
}

