<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>17/09/15 15:44:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="US_AssetPageview_AddAsset.CreateTemplate(java.util.Map)[pri:0, instance:org.Birlasoft.Testcase.org.Birlasoft.Testcase.US_AssetPageview_AddAsset@68c4039c]">CreateTemplate</td> 
  <td>main@667026744</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/09/15 15:44:09</td>   <td>-5316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;US_AssetPageview_AddAsset.launchApp()[pri:0, instance:org.Birlasoft.Testcase.org.Birlasoft.Testcase.US_AssetPageview_AddAsset@68c4039c]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@667026744</td>   <td></td> </tr>
</table>
